/*header*/
.header {
    max-width: 1808px;
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.rental {
    font-size: 30px;
    color: black;
    font-family: 'Lato';
    margin-right: 40px;
    font-weight: bold;
}
.rental:hover {
    font-size: 31px;
}
.letter {
    font-size: 37px;
    color: black;
    font-family: 'Pacifico';
}
.nav-ul {
    max-width: 436px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li {
    color: black;
    font-size: 20px;
    margin-right: 40px;
    font-family: 'Lato';
}
.nav-li:hover {
    font-size: 22px;
}
.nav-li1 {
    color: black;
    font-size: 20px;
    margin-right: 40px;
    font-family: 'Lato';
}
.nav-li1:hover {
    font-size: 22px;
}
.nav-li2 {
    color: black;
    font-size: 20px;
    margin-right: 40px;
    font-family: 'Lato';
}
.nav-li3:hover {
    font-size: 22px;
}
.nav-li3 {
    color: black;
    font-size: 20px;
    font-family: 'Lato';
}
.nav-li3:hover {
    font-size: 22px;
}
.header2 {
    max-width: 189px;
    width: 100%;
    height: 46px;
    display: flex;
    border: dashed;
    color: black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.header-img2 {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.header-p {
    width: 125px;
    height: 29px;
    font-size: 20px;
    color: #303030;
    vertical-align: middle;

}
.header3 {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.header-img3 {
    width: 30px;
    height: 30px;
}
.header4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-p2 {
    font-size: 16px;
    color: black;
    font-family: 'Lato';
}
/*footer*/
.footer-main {
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.rental2 {
    font-size: 30px;
    color: antiquewhite;
    font-family: 'Lato';
}
.footer-div2 {
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.wraper-icons {
    display: flex;
    flex-direction: column;
}
.footer-p {
    max-width: 260px;
    width: 100%;
    font-family: 'Lato';
    margin-top: 5px;
    color: antiquewhite;
}
.footer-h {
    font-size: 15px;
    font-family: 'Lato';
    color: antiquewhite;

}
.footer-icons {
    display: flex;
}
.footer-div2 {
    display: flex;
    flex-direction: column;
}
.footer-div3 {
    display: flex;
    flex-direction: column;
}
.footer-div4 {
    display: flex;
    flex-direction: column;
}
.copyright {
    font-size: 16px;
    font-family: 'Lato';
    margin-top: 10px;
    color: antiquewhite;
}
.terms {
    font-size: 16px;
    font-family: 'Lato';
    color: antiquewhite;
}
.fa-facebook-square {
    font-size: 35px;
    transition: all 0.2s linear;
    color: antiquewhite;
}
.fa-facebook-square:hover {
    color: #6A89EF;
}
.fa-twitter-square {
    font-size: 35px;
    color: antiquewhite;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.2s linear;
}
.fa-twitter-square:hover {
    color: #6A89EF;
}
.fa-instagram {
    font-size: 35px;
    transition: all 0.2s linear;
    color: antiquewhite;
}
/*section1*/
#home {
    height: 730px;
}
.main-div {
    max-width: 1860px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.inside-div1 {
    position: absolute;
    max-width: 474px;
    width: 100%;
    top: 80px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 76px;
    border-bottom-right-radius: 76px;
    padding: 20px;
}
.block-h {
    max-width: 420px;
    width: 100%;
    font-size: 65px;
    color: black;
    font-family: 'Lato';
}
.dreams {
    color: black;
    font-family: 'Pacifico';
}
.block-p1 {
    max-width: 490px;
    width: 100%;
    font-size: 17px;
    margin-top: 35px;
    color: black;
    font-family: 'Lato';
}
.image1-main {
    position: absolute;
    left: 15%;
    border-radius: 48px;
    max-width: 1256px;
    width: 80%;
    height: 700px;
    object-fit: cover;
}
/*section2*/
.label1 {
    font-size: 22px;
    color: black;
    font-family: 'Lato';
    margin-bottom: 5px;
    border: none;
}
.input-form {
    font-size: 13px;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 30px;
}
.input-form::placeholder {
    color: black;
    font-size: 14px;
    font-family: 'Lato';
}
.btn-search {
    width: 102px;
    height: 31px;
    display: flex;
    border-radius: 15px;
    font-size: 20px;
    color: black;
    border: none;
    vertical-align: bottom;
    align-items: center;
    justify-content: center;
}

.big-div1 {
    max-width: 835px;
    width: 80%;
    height: 160px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    top: 500px;
    flex-wrap: wrap;
}
.big-inside {
    max-width: 98px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.big-inside3 {
    width: 122px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    border-radius: 15px;
}
.search {
    font-size: 20px;
    color: black;
    font-family: 'Lato';
}


/*page2*/
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.titles-p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.hi {
    max-width: 638px;
    width: 100%;
    font-size: 48px;
    color: black;
    text-align: center;
    font-family: 'Lato';
    margin: 0 auto;
}
.select {
    max-width: 450px;
    width: 100%;
    margin-top: 38px;
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: 'Lato';
}
.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 20px;
}
.section2-div {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 3px;
    margin-bottom: 20px;
}

.little-image1 {
    width: 270px;
    height: 224px;
    margin-top: 10px;
    border-radius: 10px;
}
.little-image1:hover {
    opacity: 0.5;
}
.section2-p {
    margin-top: 18px;
    font-size: 24px;
    color: black;
    font-family: 'Lato';
}
.div-continue {
    max-width: 191px;
    width: 100%;
    height: 46px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.continue {
    font-size: 20px;
    color: white;
    font-family: 'Lato';
}
.continue:hover {
    font-size: 21px;
}
.btn-search {
    background-color: antiquewhite;
}
/*page2section2*/
.title-p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.boxes {
    margin-top: 85px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxes1{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: black;
}
.boxes1:hover {
    background-color: antiquewhite;
}
.boxes1:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
    background-color: antiquewhite;
}
.featured {
    height: 64px;
    font-size: 40px;
    font-family: 'Lato';
    color: black;
}
.themost {
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-family: 'Lato';
}
.wraper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;
}
.inside-wraper {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
}
.wraper-img {
    max-width: 360px;
    width: 100%;
    height: 277px;
    border-radius: 14px;
}
.wraper-img:hover {
    opacity: 0.8;
}
.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'Lato';
    color: black;
}
.geo-alt {
    width: 17px;
    height: 23px;
    margin-right: 8px;
}
.adress {
    color: black;
    font-size: 17px;
    font-family: 'Lato';
}
.price {
    color: black;
    font-size: 22px;
    margin-bottom: 6px;
    font-family: 'Lato';
}
.wraper-h {
    color: black;
    font-size: 22px;
    margin-bottom: 6px;
    font-family: 'Lato';
}
.wraper-text {
    margin-bottom: 6px;
    width: 280px;
    height: 44px;
    color: black;
    font-size: 14px;
    font-family: 'Lato';
}
.one-main {
    display: flex;
    flex-direction: row;
    width: 277px;
    height: 65px;
}
.one {
    width: 67px;
    height: 50px;
    margin-right: 15px;
}
.one1 {
    display: flex;
    flex-direction: row;
}
.numbers {
    font-size: 16px;
    color: black;
    font-family: 'Lato';
}
.image1 {
    width: 15px;
    height: 11px;
}
.rooms {
    margin-top: 6px;
    height: 20px;
    font-size: 14px;
    color: black;
    font-family: 'Lato';
}
.one2 {
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 50px;
    margin-right: 15px;
}
.one2-inside {
    display: flex;
}
.one3 {
    display: flex;
    flex-direction: column;
    width: 59px;
    height: 50px;
}
.one3-inside {
    display: flex;
}
.two {
    display: flex;
    flex-direction: row;
    width: 1802px;
    height: 586px;
    margin-left: 19px;
    margin-top: 15px;
}
.two1 {
    width: 34px;
    height: 34px;
    background-color: #E0E7F2;
}
.two2 {
    width: 34px;
    height: 34px;
    background-color: #8D9598;
}
.two3 {
    width: 34px;
    height: 34px;
    background-color: #FFDAB9;
}
/*page3*/
.apart {
    width: auto;
    font-size: 48px;
    margin-top: 71px;
    margin-bottom: 61px;
    margin:0 auto;
    font-family: 'Lato';
    color: black;
    padding: 10px;
}
.multi2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    color: black;
}
.multi2-inside {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.multi-h {
    font-size: 33px;
    color: black;
    font-family: 'Lato';
}
.multi-text {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 23px;
    color: black;
    font-family: 'Lato';
}
.multi-p {
    margin-bottom: 13px;
    color: black;
    font-family: 'Lato';
}
.multi-img-div {
    display: inline-block;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}
.multi-image {
    max-width: 600px;
    width: 100%;
}
/*page3.section2*/
.biggie-div {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.biggie1 {
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.buy-h {
    font-size: 40px;
    font-family: 'Lato';
    color: black;
}
.see {
    max-width: 150px;
    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.see-p {
    color: white;
    font-size: 16px;
    font-family: 'Lato';
}
.biggie2 {
    display: flex;
    position: relative;
}
.house1 {
    position: relative;
    max-width: 1000px;
    width: 80%;
    left:20%;
    border-radius: 30px;
}
.house2 {
    position: absolute;
    max-width: 400px;
    width: 100%;
    top:30%;
    border-radius: 40px;
    padding: 5px;
}
.q-main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.q-h {
    font-size: 40px;
    color: black;
    font-family: 'Lato';
    margin: 0 auto;
}
.q-inside1 {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border:1px solid  black;
    border-radius: 25px;
    margin-bottom: 3px;
    margin-top: 20px;
    font-family: 'Lato';
}
.q-inside1:hover {
    background-color: antiquewhite;
}
.q-h3 {
    font-size: 18px;
    color: black;
    font-family: 'Lato';
}
.q-p {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: black;
    font-family: 'Lato';
}
.q-h3::before {
    content: '+';
    color: black;
    font-size: 16px;
    font-weight: bold;
}
/*burger*/
input[type=text] {
    box-sizing: border-box;
    border: none;
}
input[type=date] {
    box-sizing: border-box;
    border: none;
}
.form-wraper {
    width: 180px;
    display: flex;
    flex-direction: column;
}
.input-form::placeholder {
    color: black;
    font-size: 14px;
    font-family: 'Lato';
}
.input-form {
    font-size: 15px;
    color: black;
    font-family: 'Lato';
}
.btn-search {
    max-width: 120px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: antiquewhite;
    font-size: 20px;
    font-family: 'Lato';
}
.btn-search:hover {
    font-size: 22px;
    color: black;
}
.label1 {
    font-size: 20px;
    font-family: 'Lato';
}
.burger {
    color: black;
    font-size: 30px;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

